.eventControl {
    align-items: center;
    border: 1px solid #5101d1;
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}

.eventsList{
    margin: 2rem auto;
    width: 40rem;
    max-width: 90%;
    list-style: none;
    padding: 0;
}

.eventsListItem{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1
}